

.sss{
	text-align:center;

}







hr{
	color:blue;

}
h1{
	text-align:center;
	
	
}

h5{
	text-align:center;
}

.float{

		float:right;
}

.float1{
	float:right;

}



hr{
	background-color:lightblue;
	height:5px;

}

.bom{

		background-color:blue;
		text-align:center;
		color:white;

}


	
}

.float5{
	margin:auto;
}
.float6{
	float:right;
	margin:auto;
}
